body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgb(252, 249, 105);
  color: white;
}

h1 {
  text-align: center;
  color: darkslategrey;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 95%;
  border-radius: 10px;
}

.li-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  margin-top: 15px;
  display: flex;
  border-radius: 10px;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #666565;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  width: 10%;
  font-size: 1.2em;
  border-radius: 10px;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: rgb(238, 40, 40);
}
.task {
  color: darkslategrey;
}